{% extends 'base.html' %}

{% block title %}
	{% if user %}
		{{ user.username }}
	{% else %}
		Empty user
	{% endif %}
{% endblock %}

{% block content %}

	{% if user %}
<div class="container">
		<h1 class="text_title">Информация о пользователе {{ user.username }}</h1>
		<br>
		<p class="fw-bold regular_text">Имя:</p>
		<p class="regular_text">
		{% if user.first_name %}
			{{user.first_name }}
		{% else %}
			-
		{% endif %}
		</p>
		<p class="fw-bold regular_text">Фамилия:</p>
		<p class="regular_text">
		{% if user.last_name %}
			{{ user.last_name }}
		{% else %}
			-
		{% endif %}
		</p>
		<p class="fw-bold regular_text">Электронная почта:</p>
		<p class="regular_text">
		{% if user.email %}
			{{ user.email }}
		{% else %}
			-
		{% endif %}
		</p>
		<p class="fw-bold regular_text">Состояние здоровья:</p>
		{% if ill %}
			<p class="text-danger regular_text">Болен</p>
		{% else %}
			<p class="text-success regular_text">Здоров</p>
		{% endif %}
		<p><a class="btn btn-dark regular_text" href="{% url 'change_status' user.id %}">Изменить статус здоровья</a></p>

		<br><br>
		<h2 class="text_title">Контакты пользователя</h2>
		<br>
		{% if not empty %}
			<div class="container">
				{% for contact in contacts %}
					<h4 class="fw-bold regular_text">
						{% if user.id != contact.first_user.id %}
						<a class="link-dark" href="{% url 'info_about_person' contact.first_user.id %}">{{contact.first_user.last_name}}  {{contact.first_user.first_name}}</a>
						{% else %}
						{{contact.first_user.last_name}}  {{contact.first_user.first_name}}
						{% endif %}
						 - 
						{% if user.id != contact.second_user.id %}
						<a class="link-dark" href="{% url 'info_about_person' contact.second_user.id %}">{{contact.second_user.last_name}} {{contact.second_user.first_name}}</a>
						{% else %}
						{{contact.second_user.last_name}} {{contact.second_user.first_name}}
						{% endif %}
					</h4>
					<p class="regular_text">{{contact.date}}</p>
					<br>
				{% endfor %}
			</div>
		{% else %}
			<p>Контактов сотрудника не обнаружено</p>
	{% endif %}

	{% else %}
		Пользователь не найден
	{% endif %}
</div>
{% endblock %}
