{% extends 'base.html' %}

{% block title %}
		{% if request.user.is_staff %}
			Contacts
		{% else %}
			My contacts
		{% endif %}
{% endblock %}

{% block content %}

<div class="container">
	<h1 class="text_title">
		{% if request.user.is_staff %}
			Контакты сотрудников
		{% else %}
			Мои контакты
		{% endif %}
	</h1>

		{% if request.user.is_staff %}
			<a class="btn btn-dark" href="{% url 'take_contacts' %}">Добавить контакты</a>
			{% if to_ill %}
			<a class="btn btn-dark" href="{% url 'only_ill_contacts' %}">Контакты только с заболевшими</a>
			{% else %}
			<a class="btn btn-dark" href="{% url 'contacts' %}">Все контакты</a>
			{% endif %}
		{% endif %}
<!-- 	<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
</div> -->
	<br>
	{% if not empty %}
		<div>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Дата контакта</th>
			      <th scope="col">1 сотрудник</th>
			      <th scope="col">2 сотрудник</th>
			    </tr>
			  </thead>
			  <tbody>
			{% for contact in contacts %}
				{% if request.user.is_staff %}
				<tr>
					<th>{{contact.date}}</th>
					<th><a class="link-dark" href="{% url 'info_about_person' contact.first_user.id %}">{{contact.first_user.last_name}}  {{contact.first_user.first_name}}</a>
						{% if contact.first_user.groups.all.0.name == 'ill' %}
							<span class="material-icons text-danger">coronavirus</span>
						{% endif %}
					</th>
					<th><a class="link-dark" href="{% url 'info_about_person' contact.second_user.id %}">{{contact.second_user.last_name}} {{contact.second_user.first_name}}</a>
						{% if contact.second_user.groups.all.0.name == 'ill' %}
							<span class="material-icons text-danger">coronavirus</span>
					{% endif %}
					</th>
				</tr>

				{% else %}
				<tr>
					<th>{{contact.date}}</th>
					<th>{{contact.first_user.last_name}} {{contact.first_user.first_name}}</th>
					<th>{{contact.second_user.last_name}} {{contact.second_user.first_name}}</th>
				</tr>
<!-- 					<h4 class="fw-bold regular_text">{{contact.first_user.last_name}} {{contact.first_user.first_name}} - {{contact.second_user.last_name}} {{contact.second_user.first_name}}</h4> -->
				{% endif %}

<!-- 				<p class="regular_text">{{contact.date}}</p>
 -->			{% endfor %}
			  </tbody>
				</table>
		</div>
	{% else %}
		<p>
		{% if request.user.is_staff %}
			Контактов сотрудников не обнаружено
		{% else %}
			Ваших контактов не обнаружено
		{% endif %}
		</p>
	{% endif %}

</div>
{% endblock %}
