{% extends 'base.html' %}

{% block title %}
	My contacts
{% endblock %}

{% block content %}

	<h1>
		{% if request.user.is_staff %}
			Контакты сотрудников
		{% else %}
			Мои контакты
		{% endif %}
	</h1>

	{% if not empty %}
		<div class="container">
			{% for contact in contacts %}

				{% if request.user.is_staff %}

					<h4 class="fw=bold"><a href="{% url 'info_about_person' contact.first_user.id %}">{{contact.first_user.last_name}}  {{contact.first_user.first_name}}</a> - <a href="{% url 'info_about_person' contact.second_user.id %}">{{contact.second_user.last_name}} {{contact.second_user.first_name}}</a></h4>
				{% else %}
					<h4 class="fw=bold">{{contact.first_user.last_name}} {{contact.first_user.first_name}} - {{contact.second_user.last_name}} {{contact.second_user.first_name}}</h4>
				{% endif %}

				<p>{{contact.date}}</p>
				<br>
			{% endfor %}
		</div>
	{% else %}
		<p>
		{% if request.user.is_staff %}
			Контактов сотрудников не обнаружено
		{% else %}
			Ваших контактов не обнаружено
		{% endif %}
		</p>
	{% endif %}


{% endblock %}
