{% extends 'base.html' %}

{% block title %}
	My contacts
{% endblock %}

{% block content %}

<div class="container">
	<h1 class="text_title">
		{% if request.user.is_staff %}
			Контакты сотрудников
		{% else %}
			Мои контакты
		{% endif %}
	</h1>
	<br>
	{% if not empty %}
		<div>
			{% for contact in contacts %}

				{% if request.user.is_staff %}

					<h4 class="fw-bold regular_text"><a class="link-dark" href="{% url 'info_about_person' contact.first_user.id %}">{{contact.first_user.last_name}}  {{contact.first_user.first_name}}</a> - <a class="link-dark" href="{% url 'info_about_person' contact.second_user.id %}">{{contact.second_user.last_name}} {{contact.second_user.first_name}}</a></h4>
				{% else %}
					<h4 class="fw-bold regular_text">{{contact.first_user.last_name}} {{contact.first_user.first_name}} - {{contact.second_user.last_name}} {{contact.second_user.first_name}}</h4>
				{% endif %}

				<p class="regular_text">{{contact.date}}</p>
				<br>
			{% endfor %}
		</div>
	{% else %}
		<p>
		{% if request.user.is_staff %}
			Контактов сотрудников не обнаружено
		{% else %}
			Ваших контактов не обнаружено
		{% endif %}
		</p>
	{% endif %}

</div>
{% endblock %}
