{% extends 'base.html' %}

{% block title %}
	Anticovid bracelet
{% endblock %}

{% block content %}
	<br>
	{% for post in posts %}
		<div class="text-center">
			<div class="container">
				<h2 class="text_title">{{ post.title }}</h2>
				<br>
				{% if post.image %}
				<img class="card-img" src="{{ post.image.url }}" style="max-width: 800px; max-height: 500px">
				{% endif %}
				<p class="regular_text">{{ post.text }}</p>
				<p class="date_text">{{ post.date }}</p>
			</div>
			<br>
		</div>
	{% endfor %}

{% endblock %}
