{% extends 'base.html' %}

{% block title %}
	Illnes
{% endblock %}

{% block content %}
<div class="container">
	{% if not empty_ill %}
		<p><a class="btn bg-danger text-light " href="mailto:
			{% for user in passibly_ill %}
				{{user.email}},
			{% endfor %}
			?subject=Информация с антиковидного браслета&amp;body=Здравствуйте.">Отправить уведомление заболевшим</a></p>
	{% endif %}
	{% if not empty_passibly_ill %}
		<p><a class="btn bg-dark text-light " href="mailto:
			{% for user in passibly_ill %}
				{{user.email}},
			{% endfor %}
			?subject=Информация с антиковидного браслета&amp;body=Здравствуйте.">Отправить уведомление возможно заболевшим</a></p>
	{% endif %}
	<h1 class="text_title">Заболевшие сотрудники</h1>
	<br>
	{% if empty_ill %}
		<p class="regular_text">Заболевших сотрудников не найдено</p>
	{% else %}

		{% for user in ill_users %}
		<p class="regular_text"><a class="link-dark" href="{% url 'info_about_person' user.id %}">{{ user.last_name }} {{ user.first_name }} : {{ user.username }}</a></p>
		{% endfor %}
		<br><br>
		<h2 class="text_title">Возможно заболевшие сотрудники</h2>
		<br>
		{% if empty_passibly_ill %}
			<p class="regular_text">Возможно заболевших сотрудников не найдено</p>
		{% else %}
			{% for user in passibly_ill %}
			<p class="regular_text"><a class="link-dark" href="{% url 'info_about_person' user.id %}">{{ user.last_name }} {{ user.first_name }} : {{ user.username }}</a></p>
			{% endfor %}
		{% endif %}
	{% endif %}
</div>
{% endblock %}