<nav class="navbar navbar-expand-sm sticky-top navbar-light" style="background-color: #EAEAEA;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span class="material-icons">home</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link navbar_text" href="{% url 'account' %}">Пользователь</a>
        <a class="nav-link navbar_text" href="{% url 'contacts' %}">
            {% if request.user.is_staff %}
              Контакты сотрудников
            {% else %}
              Мои контакты
            {% endif %}
        </a>
        {% if request.user.is_staff %}
              <a class="nav-link navbar_text" href="{% url 'workers' %}">Сотрудники</a>
              <a class="nav-link navbar_text" href="{% url 'illnes' %}">Заболевания</a>
              <a class="nav-link navbar_text" href="{% url 'illnes' %}"></a>
        {% endif %}
        <a class="nav-link navbar_text" href="{% url 'signout' %}">Выйти</a>
      </div>
    </div>
  </div>
</nav>