{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="container">
	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
<!-- 	    <input class="" type="file" name="myfile">
 -->	    
 			<div class="mb-3">
			  <input class="form-control" type="file" id="formFile" name="myfile">
			  <br>
			  <button class="btn btn-outline-secondary" type="submit">Upload</button>
			</div>
	  </form>


	  {% if messege %}
	<!--     <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p> -->
		<p>{{ messege }}</p>
	  {% endif %}
  </div>
{% endblock %}